body {
  background-image: url("https://images.unsplash.com/photo-1522441815192-d9f04eb0615c?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  position: center;
  background-size: cover;

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

a {
  color: rgb(143, 207, 70);
}

header {
  border-bottom: 1px solid rgba(201, 223, 250, 0.7);
  padding: 0 0 30px 0;
}

main {
  padding: 60px 0;
}

.weather-app {
  background-color: white;
  max-width: 600px;
  border-radius: 20px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-form-input {
  background-color: rgb(234, 239, 227);
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 8px;
  width: 80%;
  border: none;
}
.search-form-button {
  background-color: rgb(134, 159, 98);
  color: white;
  font-size: 16px;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  margin-left: 4px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  font-size: 38px;
  line-height: 48px;
  margin: none;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: rgb(172, 193, 79);
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 80px;
  font-weight: bold;
}
.weather-app-details strong {
  color: rgb(142, 155, 86);
}
.weather-app-temperature-container {
  display: flex;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  display: block;
  height: 88px;
  margin: 0 auto;
  width: 88px;
}
.weather-forecast-temperatures {
  color: rgb(142, 155, 86);
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}

.weather-app-icon {
  width: 88px;
  height: 88px;

  margin-bottom: 50px;
}

.weather-app-unit {
  font-size: 30px;

  margin-top: 10px;
}

footer {
  border-top: 1px solid rgba(201, 223, 250, 0.7);
;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgb(0, 0, 0, 0.6);
}
